<%- include('partials/header.ejs') %>

<h5 class="card-title">User</h5>
<div class="row mt-3">
    <div class="col"><b>Name:</b></div>
    <div class="col"><%= registeredUser.name %></div>
</div>
<div class="row">
    <div class="col"><b>E-Mail:</b></div>
    <div class="col"><%= registeredUser.email %></div>
</div>
<div class="row mt-3">
    <div class="col">
        <a href="/unregister/<%= registeredUser.email %>" class="btn btn-danger">Unregister</a>
    </div>
</div>
                  
<%- include('partials/footer.ejs') %>